# Run as follows:
#
#    1) Change USER_UID and USER_GID to the desired owner of your files (echo $UID )
#    2) Look at output and use the 127.0.0.1 URL (unless you changed the port below)
#

version: '3'

services:
  labs:
    hostname: labs
    image: timeloopaccelergy/timeloop-accelergy-pytorch:raella-pim-amd64
    build: .
    ports:
      - "8888:8888"
    volumes:
      - ./workspace:/home/workspace
    environment:
      - USER_UID=1000
      - USER_GID=1000
      - JUPYTER_SWITCHES=--LabApp.token=''
